<nav class="navbar navbar-expand-lg change blur">
    <div class="container">
        <a class="logo icon-img-100" href="#">
            <img src="assets/imgs/logo-dark.png" alt="logo">
        </a>
        <div class="topnav">
            <div class="menu-icon cursor-pointer">
                <span class="icon ti-align-right"></span>
            </div>
        </div>
    </div>
</nav>

<div class="hamenu">
    <div class="logo icon-img-100">
        <img src="assets/imgs/logo-dark.png" alt="">
    </div>
    <div class="close-menu cursor-pointer ti-close"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="menu-text">
                    <div class="text">
                        <h2>Menu</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="menu-links">
                    <ul class="main-menu rest">
                        <li>
                            <div class="o-hidden">
                                <a [routerLink]="['home']" class="link"><span class="fill-text"
                                        data-text="Home">Home</span></a>
                            </div>
                        </li>
                        <li>
                            <div class="o-hidden">
                                <a [routerLink]="['about']" class="link"><span class="fill-text"
                                        data-text="Who We Are">Who We Are</span></a>
                            </div>
                        </li>
                        <li>
                            <div class="o-hidden">
                                <a [routerLink]="['services']" class="link"><span class="fill-text"
                                        data-text="OUR SERVICES">OUR Services</span></a>
                            </div>
                        </li>
                        <li>
                            <div class="o-hidden">
                                <div class="link cursor-pointer dmenu"><span class="fill-text"
                                        data-text="Products">Products</span> <i></i>
                                </div>
                            </div>
                            <div class="sub-menu no-bord">
                                <ul>
                                    <li>
                                        <div class="o-hidden">
                                            <a href="#" class="sub-link"><span class="fill-text"
                                                    data-text="Platform">Platform</span> <i></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="o-hidden">
                                            <a href="#" class="sub-link"><span class="fill-text"
                                                    data-text="Platform">Plagiarism Checker</span> <i></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="o-hidden">
                                            <a href="#" class="sub-link"><span class="fill-text"
                                                    data-text="Platform">ADRI Chatbot</span> <i></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="o-hidden">
                                <a [routerLink]="['career']" class="link"><span class="fill-text"
                                        data-text="Join Us">Join Us</span></a>
                            </div>
                        </li>
                        <li>
                            <div class="o-hidden">
                                <a [routerLink]="['contact']" class="link"><span class="fill-text"
                                        data-text="Contact Us">Contact Us</span></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="cont-info">
                    <div class="item mb-50">
                        <h6 class="sub-title mb-15 opacity-7">Address</h6>
                        <h5>541 Melville Geek, <br> Palo Alto, CA 94301</h5>
                    </div>
                    <div class="item mb-50">
                        <h6 class="sub-title mb-15 opacity-7">Social Media</h6>
                        <ul class="rest social-text">
                            <li class="mb-10">
                                <a href="#0" class="hover-this"><span class="hover-anim">Facebook</span></a>
                            </li>
                            <li class="mb-10">
                                <a href="#0" class="hover-this"><span class="hover-anim">Twitter</span></a>
                            </li>
                            <li class="mb-10">
                                <a href="#0" class="hover-this"><span class="hover-anim">LinkedIn</span></a>
                            </li>
                            <li>
                                <a href="#0" class="hover-this"><span class="hover-anim">Instagram</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="item mb-40">
                        <h6 class="sub-title mb-15 opacity-7">Contact Us</h6>
                        <h5><a href="#0">Helloemail.com</a></h5>
                        <h5 class="underline mt-10"><a href="#0">+1 840 841 25 69</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>