<header class="page-header-cerv bg-img section-padding" data-background="assets/imgs/header/2.jpg"
    data-overlay-dark="4">
    <div class="container pt-100 ontop">
        <div class="text-center">
            <h1 class="fz-100">Join With Us</h1>
            <div class="mt-15">
                <a href="home-main.html">Home</a>
                <span class="padding-rl-20">|</span>
                <span class="main-color">Career</span>
            </div>
        </div>
    </div>
</header>

<section class="blog section-padding">
    <div class="container">
        <div class="row xlg-marg">
            <div class="col-lg-12">
                <div class="main-post">
                    <div class="item pb-60">
                        <article>
                            <div class="title mt-30">
                                <h4>What sizes do MacBook Airs come in?</h4>
                            </div>
                            <div class="text mt-20">
                                <p>Apple currently sells only one MacBook Air size. The
                                    laptop
                                    comes in
                                    a 13-inch
                                    version that matches the pre-2021 13-inch MacBook Pro
                                    size.
                                    Previously, Apple
                                    sold an 11-inch MacBook Air, but the company
                                    discontinued
                                    that model
                                    in 2017.
                                </p>
                            </div>
                        </article>




                        <div class="title mb-10">
                            <h4>Apple currently sells.</h4>
                        </div>

                        <div class="text mb-20">
                            <p>A new report said earlier this week that Apple is working on
                                a
                                brand new
                                laptop.
                                Apple plans to release a 15-inch MacBook Air in 2023, a
                                first
                                for the
                                Air
                                series. A trusted Apple insider with a proven track record
                                confirmed
                                that Apple
                                is working on the larger MacBook Air.</p>
                        </div>

                        <div class="unorder-list mb-30">
                            <h6 class="mb-15">Ordered & Unordered Lists.</h6>
                            <ul class="rest">
                                <li>Yet this above sewed flirted opened ouch</li>
                                <li>Goldfinch realistic sporadic ingenuous</li>
                                <li>Abominable this abidin far successfully then like piquan
                                </li>
                            </ul>
                        </div>

                        <div class="order-list mb-30">
                            <h6 class="mb-15">Ordered & Unordered Lists.</h6>
                            <ul class="rest">
                                <li><span>01 -</span> Yet this above sewed flirted opened
                                    ouch
                                </li>
                                <li><span>02 -</span> Goldfinch realistic sporadic ingenuous
                                </li>
                                <li><span>03 -</span> Abominable this abidin far
                                    successfully
                                    then like
                                    piquan
                                </li>
                            </ul>
                        </div>

                        <div class="text">
                            <p>However, Apple might not include it in the Air series when it
                                launches
                                it. As for
                                the notebook’s release date, the 15-inch MacBook isn’t
                                coming
                                soon.
                                It’ll get a
                                late 2023 release at best, according to the new claims.</p>
                        </div>
                    </div>
                    <section class="contact">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="full-width">
                                        <div class="sec-head mb-50">
                                            <h6 class="sub-title main-color mb-15">Let's Chat</h6>
                                            <h3 class="text-u ls1">Send a <span class="fw-200">message</span></h3>
                                        </div>
                                        <form id="contact-form" class="form2" method="post" action="">
                                            <div class="messages"></div>
                                            <div class="controls row">
                                                <div class="col-lg-6">
                                                    <div class="form-group mb-30">
                                                        <input id="form_name" type="text" name="name" placeholder="Name"
                                                            required="required">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group mb-30">
                                                        <input id="form_email" type="email" name="email"
                                                            placeholder="Email" required="required">
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group mb-30">
                                                        <input id="form_subject" type="text" name="phone"
                                                            placeholder="Phone Number">
                                                    </div>
                                                </div>
                                                <div class="col-12 mb-30">
                                                    <div class="form-group">
                                                        <input accept=".pdf" formcontrolname="file_name" type="file"
                                                            id="customFile"
                                                            class="form-control ng-pristine ng-valid ng-touched">
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <textarea id="form_message" name="message" placeholder="Message"
                                                            rows="4" required="required"></textarea>
                                                    </div>
                                                    <div class="mt-30 mb-30">
                                                        <button type="submit"
                                                            class="butn butn-full butn-bord radius-30">
                                                            <span class="text">Apply Now</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="info-area flex pt-50 bord-thin-top">
                        <div class="ml-auto">
                            <div class="share-icon flex">
                                <div class="valign">
                                    <span>Share :</span>
                                </div>
                                <div>
                                    <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>