
<header class="page-header-cerv bg-img section-padding" data-background="assets/imgs/header/2.jpg"
data-overlay-dark="4">
<div class="container pt-100 ontop">
    <div class="text-center">
        <h1 class="fz-100">Join With Us</h1>
        <div class="mt-15">
            <a href="home-main.html">Home</a>
            <span class="padding-rl-20">|</span>
            <span class="main-color">Career</span>
        </div>
    </div>
</div>
</header>

<section class="blog-list-half section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="item mb-50">
                    <div class="row rest">
                        <div class="col-lg-6 col-md-5 img rest">
                            <img src="assets/imgs/blog/b/1.jpg" alt="" class="img-post">
                            <div class="author d-flex align-items-center">
                                <div>
                                    <div class="fit-img icon-img-50 circle">
                                        <img src="assets/imgs/blog/author.png" alt="">
                                    </div>
                                </div>
                                <div class="ml-15 fz-14">
                                    <div><span class="opacity-7">Posted by</span><br>UI-ThemeZ</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-7 sub-bg cont valign">
                            <div class="full-width">
                                <div class="tags mb-15">
                                    <a href="#">Marketing</a>
                                </div>
                                <h5>
                                    <a [routerLink]="['/career-inner']">Free advertising for your online
                                        business.</a>
                                </h5>
                                <span class="date fz-12 ls1 text-u opacity-7 mt-80">August 6,
                                    2022</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="item mb-50">
                    <div class="row rest">
                        <div class="col-lg-6 col-md-5 img rest">
                            <img src="assets/imgs/blog/b/3.jpg" alt="" class="img-post">
                            <div class="author d-flex align-items-center">
                                <div>
                                    <div class="fit-img icon-img-50 circle">
                                        <img src="assets/imgs/blog/author.png" alt="">
                                    </div>
                                </div>
                                <div class="ml-15 fz-14">
                                    <div><span class="opacity-7">Posted by</span><br>UI-ThemeZ</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-7 sub-bg cont valign">
                            <div class="full-width">
                                <div class="tags mb-15">
                                    <a href="#">Marketing</a>
                                    <a href="#">Design</a>
                                </div>
                                <h5>
                                    <a href="#">Business meeting 2023 in San
                                        Francisco.</a>
                                </h5>
                                <span class="date fz-12 ls1 text-u opacity-7 mt-80">August 6,
                                    2022</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="item mb-50">
                    <div class="row rest">
                        <div class="col-lg-6 col-md-5 img rest">
                            <img src="assets/imgs/blog/b/2.jpg" alt="" class="img-post">
                            <div class="author d-flex align-items-center">
                                <div>
                                    <div class="fit-img icon-img-50 circle">
                                        <img src="assets/imgs/blog/author.png" alt="">
                                    </div>
                                </div>
                                <div class="ml-15 fz-14">
                                    <div><span class="opacity-7">Posted by</span><br>UI-ThemeZ</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-7 sub-bg cont valign">
                            <div class="full-width">
                                <div class="tags mb-15">
                                    <a href="#">Marketing</a>
                                    <a href="#">Design</a>
                                </div>
                                <h5>
                                    <a href="#">Free advertising for your online
                                        business.</a>
                                </h5>
                                <span class="date fz-12 ls1 text-u opacity-7 mt-80">August 6,
                                    2022</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="item mb-50">
                    <div class="row rest">
                        <div class="col-lg-6 col-md-5 img rest">
                            <img src="assets/imgs/blog/b/4.jpg" alt="" class="img-post">
                            <div class="author d-flex align-items-center">
                                <div>
                                    <div class="fit-img icon-img-50 circle">
                                        <img src="assets/imgs/blog/author.png" alt="">
                                    </div>
                                </div>
                                <div class="ml-15 fz-14">
                                    <div><span class="opacity-7">Posted by</span><br>UI-ThemeZ</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-7 sub-bg cont valign">
                            <div class="full-width">
                                <div class="tags mb-15">
                                    <a href="#">Design</a>
                                </div>
                                <h5>
                                    <a href="#">Business meeting 2023 in San
                                        Francisco.</a>
                                </h5>
                                <span class="date fz-12 ls1 text-u opacity-7 mt-80">August 6,
                                    2022</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="item mb-50">
                    <div class="row rest">
                        <div class="col-lg-6 col-md-5 img rest">
                            <img src="assets/imgs/blog/b/5.jpg" alt="" class="img-post">
                            <div class="author d-flex align-items-center">
                                <div>
                                    <div class="fit-img icon-img-50 circle">
                                        <img src="assets/imgs/blog/author.png" alt="">
                                    </div>
                                </div>
                                <div class="ml-15 fz-14">
                                    <div><span class="opacity-7">Posted by</span><br>UI-ThemeZ</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-7 sub-bg cont valign">
                            <div class="full-width">
                                <div class="tags mb-15">
                                    <a href="#">Marketing</a>
                                    <a href="#">Design</a>
                                </div>
                                <h5>
                                    <a href="#">Free advertising for your online
                                        business.</a>
                                </h5>
                                <span class="date fz-12 ls1 text-u opacity-7 mt-80">August 6,
                                    2022</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="item mb-50">
                    <div class="row rest">
                        <div class="col-lg-6 col-md-5 img rest">
                            <img src="assets/imgs/blog/b/6.jpg" alt="" class="img-post">
                            <div class="author d-flex align-items-center">
                                <div>
                                    <div class="fit-img icon-img-50 circle">
                                        <img src="assets/imgs/blog/author.png" alt="">
                                    </div>
                                </div>
                                <div class="ml-15 fz-14">
                                    <div><span class="opacity-7">Posted by</span><br>UI-ThemeZ</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-7 sub-bg cont valign">
                            <div class="full-width">
                                <div class="tags mb-15">
                                    <a href="#">Marketing</a>
                                    <a href="#">Design</a>
                                </div>
                                <h5>
                                    <a href="#">Business meeting 2023 in San
                                        Francisco.</a>
                                </h5>
                                <span class="date fz-12 ls1 text-u opacity-7 mt-80">August 6,
                                    2022</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>