
<header class="page-header-cerv bg-img section-padding" data-background="assets/imgs/header/2.jpg"
data-overlay-dark="4">
<div class="container pt-100 ontop">
    <div class="text-center">
        <h1 class="fz-100">About Us.</h1>
        <div class="mt-15">
            <a href="home-main.html">Home</a>
            <span class="padding-rl-20">|</span>
            <span class="main-color">About Us</span>
        </div>
    </div>
</div>
</header>

<section class="about">
    <div class="container section-padding bord-thin-top">
        <div class="row md-marg">
            <div class="col-lg-6">
                <div class="cont md-mb50">
                    <h6 class="sub-title main-color mb-15">Who We Are</h6>
                    <h3>Our team consists ofnpractitioners who have years of experience in launching
                        & managing projects.</h3>
                    <div class="d-flex align-items-end mt-100">
                        <div>
                            <a href="page-contact.html" class="d-flex align-items-end">
                                <span class="sub-title nowrap">Contact Us</span>
                                <span class="fz-70 line-height-45 ti-arrow-top-right"></span>
                            </a>
                        </div>
                        <div class="ml-80">
                            <p>With our low code solution you can model your process automation by
                                yourself. This will increase your productivity in real time and bring
                                all-around flexibility and best-in-class quality. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="img-vid">
                    <img src="assets/imgs/intro/2.jpg" alt="">
                    <div class="curv-butn main-bg">
                        <a href="https://youtu.be/AzwC6umvd1s" class="vid">
                            <div class="icon">
                                <i class="fas fa-play"></i>
                            </div>
                        </a>
                        <div class="shap-left-top">
                            <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                class="w-11 h-11">
                                <path
                                    d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                    fill="#fff"></path>
                            </svg>
                        </div>
                        <div class="shap-right-bottom">
                            <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                class="w-11 h-11">
                                <path
                                    d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                    fill="#fff"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="page-intro-modern section-padding pt-0">
    <div class="container md-hide">
        <div class="row justify-content-center">
            <div class="col-lg-11">
                <div class="row">
                    <div class="col-lg-3 valign">
                        <div class="img1 fit-img">
                            <img src="assets/imgs/intro/01.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="img2 fit-img position-re o-hidden">
                            <img src="assets/imgs/intro/2.jpg" alt="" data-speed="0.2" data-lag="0">
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex align-items-end">
                        <div class="full-width">
                            <div class="img3 fit-img mb-30">
                                <img src="assets/imgs/intro/02.jpg" alt="">
                            </div>
                            <div class="img4 fit-img">
                                <img src="assets/imgs/intro/03.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-100">
        <div class="row justify-content-around">
            <div class="col-lg-5">
                <div class="cont">
                    <h4>If you’re looking for a specialist to build a meaningful digital project you can
                        easily reach us by clicking <span class="underline"><a href="#0"
                                class="main-color">here</a></span></h4>
                    <div class="exp mt-80 md-mb15">
                        <h2 class="fz-70">28 <span class="sub-title main-font opacity-7 ml-15">Years
                                of Experience</span></h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 valign">
                <div class="full-width">
                    <div class="text">
                        <p>Whether you are a development agency looking to outsource design work, a
                            company in search of a Product Designer or Product Team, a marketing agency
                            that needs.</p>
                    </div>
                    <div class="mt-50">
                        <div class="skills-box">
                            <div class="skill-item mb-40">
                                <h5 class="sub-title mb-15">UI / UX Design</h5>
                                <div class="skill-progress">
                                    <div class="progres" data-value="90%"></div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <h5 class="sub-title mb-15">Apps Development</h5>
                                <div class="skill-progress">
                                    <div class="progres" data-value="80%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line-overlay">
        <svg viewBox="0 0 1728 1101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M-43 773.821C160.86 662.526 451.312 637.01 610.111 733.104C768.91 829.197 932.595 1062.9 602.782 1098.75C272.969 1134.6 676.888 25.4306 1852 1"
                style="stroke-dasharray: 3246.53, 0;"></path>
        </svg>
    </div>
</section>



<div class="clients-carso2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11">
                <div class="swiper5" data-carousel="swiper" data-items="5" data-loop="true"
                    data-space="40">
                    <div id="content-carousel-container-unq-clients" class="swiper-container"
                        data-swiper="container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="img icon-img-100">
                                        <a href="#0">
                                            <img src="assets/imgs/brands/01.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="img icon-img-100">
                                        <a href="#0">
                                            <img src="assets/imgs/brands/02.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="img icon-img-100">
                                        <a href="#0">
                                            <img src="assets/imgs/brands/03.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="img icon-img-100">
                                        <a href="#0">
                                            <img src="assets/imgs/brands/04.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="img icon-img-100">
                                        <a href="#0">
                                            <img src="assets/imgs/brands/05.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>