<header class="page-header-cerv bg-img section-padding" data-background="assets/imgs/header/2.jpg"
data-overlay-dark="4">
<div class="container pt-100 ontop">
    <div class="text-center">
        <h1 class="fz-100">Translate Package</h1>
        <div class="mt-15">
            <a href="home-main.html">Home</a>
            <span class="padding-rl-20">|</span>
            <span class="main-color">Document</span>
        </div>
    </div>
</div>
</header>


<div class="pricing8 py-5">
    <div class="container">
      <div class="row text-left mt-100">
        <div class="col-md-12 price-heading">
          <h3 class="mb-3">Pricing to make your Work Effective</h3>
          <h6 class="subtitle font-weight-normal">We offer 100% satisafaction and Money back Guarantee</h6>
        </div>
      </div>

      <div class="total-word">
        <h1>Total Words</h1>
        <span>5656</span>
      </div>
      <!-- row  -->
      <div class="row mt-4">

        <div class="col-md-6 ml-auto pricing-box align-self-center">
            <div class="card mb-4">
                <div class="card-body p-4 text-center">
                    <h5>standard translation</h5>
                    <sup>$</sup><span class="text-dark display-5">50</span>
                    <h6 class="font-weight-light font-14">$0.18 PER WORD</h6>
                    <h5 class="txt-expect">Expected Date : Feb 28, 2024</h5>
                    <p>
                        Our Standard Translation Tier is the ideal choice for users seeking a well-balanced and dependable
                        document translation experience. With this option, you can expect consistent and reliable performance
                        that caters to the needs of most users.
                    </p>
                </div>
                <a class="btn bg-black p-3 btn-block border-0 text-white" href="#">CHOOSE PLAN </a>
            </div>
        </div>

        <div class="col-md-6 ml-auto pricing-box align-self-center">
            <div class="card mb-4">
                <div class="card-body p-4 text-center">
                    <h5>standard translation</h5>
                    <sup>$</sup><span class="text-dark display-5">50</span>
                    <h6 class="font-weight-light font-14">$0.18 PER WORD</h6>
                    <h5 class="txt-expect">Expected Date : Feb 28, 2024</h5>
                    <p>
                        Our Standard Translation Tier is the ideal choice for users seeking a well-balanced and dependable
                        document translation experience. With this option, you can expect consistent and reliable performance
                        that caters to the needs of most users.
                    </p>
                </div>
                <a class="btn bg-black p-3 btn-block border-0 text-white" href="#">CHOOSE PLAN </a>
            </div>
        </div>



      </div>
    </div>
  </div>